@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row mb-3">
    <div class="col-md-3">Size</div>
    <div class="col-md-3"><input type="number" id="size" /></div>
    <div class="col-md-3">No of Dates</div>
    <div class="col-md-3"><input type="number" id="sizeCal" /></div>
</div>
