@{
    ViewData["Title"] = "Customer Page";
}
@model List<customer_info.Models.Customers_temp>

<div class="row mb-3">
    <div class="col-md-4">Date</div>
    <div class="col-md-8"><input type="date" id="date" name="date"></div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Name</div>
    <div class="col-md-8"><input type="text" id="name" name="name" placeholder="Enter name"></div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Address</div>
    <div class="col-md-8"><textarea id="address" name="address" rows="4" cols="50" placeholder="Enter your full address"></textarea></div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Mobile Number</div>
    <div class="col-md-8"><input type="tel" id="mobile" name="mobile" placeholder="Enter mobile number"></div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Email</div>
    <div class="col-md-8"><input type="email" id="email" name="email" placeholder="Enter email"></div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Gender</div>
    <div class="col-md-3"><input type="radio" id="male" name="gender" value="male"><label for="male"> Male</label></div>
    <div class="col-md-3"><input type="radio" id="female" name="gender" value="female"><label for="female"> Female</label></div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Occupation</div>
    <div class="col-md-4">
        <select class="form-control" name="occupation">
            <option value="">--Select Occupation--</option>
            <option value="software">Software Developer</option>
            <option value="ui/ux">UI/UX Designer</option>
            <option value="qa">QA Tester</option>
            <option value="devops">DevOps</option>
        </select>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">Cost</div>
    <div class="col-md-8"><input type="number" id="cost" name="cost" placeholder="Enter cost"></div>
</div>

<div class="row mb-3 text-center">
    <button type="button" id="btnSave" class="btn btn-success">Submit</button>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">


$("#btnSave").click(function () {
    let gen = document.querySelector('input[name="gender"]:checked');
    let occupation = document.querySelector('select[name="occupation"]').value;

    var customerData = {
        DateCol: $("#date").val(),
        NameCol: $("#name").val(),
        AddressCol: $("#address").val(),
        Mobile: $("#mobile").val(),
        Email: $("#email").val(),
        Gender: gen ? gen.value : null,
        Occupation: occupation,
        Cost: $("#cost").val()
    };

    $.ajax({
        url: "/Customer/PostCustomer",
        type: "POST",
        data: {
            customer: customerData
        },
        dataType: "json",
        
        error: function (error) {
            console.error("Error:", error);
        }
    });

    $.ajax({
        url: "/Customer/GetCustomers",
        type: "GET",
        dataType: "json",
        success: function (response) {
            console.log(response);
        },
        error: function (error) {
            console.error("Error:", error);
        }
    });
});

</script>